<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-04-30T15:05:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/alexandregigleux/Repos/Training/sonar-scanning-examples/swift-coverage/swift-coverage-example/swift-coverage-example.xcodeproj</string>
</dict>
</plist>
