<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <img ng-src="{{pc.user.pokemon.image}}" class="img-circle pokemon">
          </div>
          <h3 class="panel-title text-center">{{pc.user.name}}</h3>
        </div>
        <div class="panel-body text-center">
          <div><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{pc.user.role}}</div>
          <div><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{pc.user.location}}</div>
          <div><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{pc.user.twitter}}</div>
          <div><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{pc.user.pokemon.name | capitalize}}</div>
          <div><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{pc.user.pokemon.type | capitalize}}</div>
        </div>
      </div>
    </div>
  </div>
</div>